<div class="section">
	<div class="article">
		<div class="aheader">
			<h1>{{ page.title }}</h1>
			<span class="adate">{{ page.date | date: "%Y年 %m月 %d日" }}</span>
		</div>

		<div class="acontent">
			{{ content }}
		</div>

		<p class="author">注：本文版权归<a href="http:/{{title}}"> {{ site.title }} </a>所有，转载请注明出处。</p>

		<div class="pagination">
		  <ul>
		  {% if page.previous %}
			<li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">上一篇</a></li>
		  {% else %}
			<li class="prev disabled"><a>上一篇</a></li>
		  {% endif %}
			<li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">存档</a></li>
		  {% if page.next %}
			<li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇</a></li>
		  {% else %}
			<li class="next disabled"><a>下一篇</a>
		  {% endif %}
		  </ul>
		</div>

		{% unless page.tags == empty %}
			<h2 class="ititle">Tags</h2>
			<ul class="tag_box inline">
			{% assign tags_list = page.tags %}
			{% include JB/tags_list %}
			</ul>
		{% endunless %}

		{% include JB/comments %}
	</div>
</div>
