---
layout: home
title: 哐嗤.哐嗤..哐嗤...HTML.CSS..Javascript...前端开发您你大胆走起！
---
{% include JB/setup %}
<div class="section fenews">
	<h2>前端参考消息<span class="htime">2012-12-13</span></h2>
	<ul class="nlist">
		<li><a href="http://csswizardry.com/2012/11/code-smells-in-css/" target="_blank">CSS代码中的异味 | Code smells in CSS</a>
			<p>你的CSS代码有没有异味？哪些是不会出错，但是存在风险、或者给后期维护代码麻烦的写法？文章比较长，推荐阅读，看看代码也不错。“样式是一个叠加的过程，而不是用新的代码去覆盖原来的代码（覆盖的方式最后可能会让你写很多的代码去冲掉原有属性来实现一个很简单的效果）。”</p>
		</li>
		<li><a href="http://one-div.com/" target="_blank">一个标签搞定一个图标 | One div</a>
			<p>icon不用图片怎是实现？ font-face是一种选择，这里有一些更极致的实现：一个标签，只用一个标签，加上各种伪类和CSS属性。</p>
		</li>
		<li><a href="http://www.sitepoint.com/css3-box-shadow-elements/" target="_blank">如何利用Box Shadows来复制元素 </a>
			<p>上面的One div里的ICON都是用一个标签搞定的，里面很多形态的形状其实用的是box shadow来实现的，比如那个经典的菊花，关注第一、二、四个参数。</p>
			<span class="code">box-shadow:202px 50px 0 31px #f00,101px 134px 0 0px #0f0,109px 212px 0 -33px #00f;</span>
		</li>
		<li><a href="http://www.slideshare.net/vitalyfriedman/responsive-web-design-clever-tips-and-techniques" target="_blank">响应式设计实践的各种实用技巧</a>
			<p>关于响应式设计，大家都在谈，也许是时候动手了。</p>
		</li>
		<li><a href="http://dev.opera.com/articles/view/native-css-feature-detection-via-the-supports-rule/" target="_blank">原生的CSS属性探测 - @supports rule</a>
			<p>CSS属性探测怎么做？Modernizr是不错的选择，W3C在今年11月发布了CSS3的条件规则模块的草案，开始让原生的CSS和javascript来干这个事情。</p>
			<span class="code">@supports (display:flex){.className{ display: flex }}</span>
		</li>
		<li><a href="http://www.programmer.com.cn/14191/" target="_blank">2012这一年</a>
			<p>听刘江老师来盘点一下码农的2012。</p>
		</li>
		<li><a href="http://www.xiami.com/song/play?ids=/song/playlist/id/1771366920/object_name/default/object_id/0" target="_blank">Amy [ Green Day ] — 虾小米打碟中……</a>
			<p>难得安静的绿日，关于Amy Winehouse，惺惺相惜，魂淡甜菜</p>
		</li>
	</ul>
</div>


<div class="section posts">
	<h2>最近发布</h2>
	<ul class="nlist">
		{% for post in paginator.posts %}
			<li><a href="{{ BASE_PATH }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
	<!-- Pagination links -->
	<div id="post-pagination" class="pagination">
		<ul class="pages">
			{% if paginator.previous_page %}
			<li>
				{% if paginator.previous_page == 1 %}
				<a href="/">Prev</a>
				{% else %}
				<a href="/page{{paginator.previous_page}}">Prev</a>
				{% endif %}
			</li>
			{% else %}
			<li class="disabled"><a href="#">Prev</a></li>
			{% endif %}


			{% if paginator.page == 1 %}
			<li class="active"><a href="/page1">1</a></li>
			{% else %}
			<li><a href="/page1">1</a></li>
			{% endif %}

			{% for count in (2..paginator.total_pages) %}

			{% if count == paginator.page %}
			<li class="active">
				<span class="current-page">{{count}}</span>
			</li>
			{% else %}
			<li><a href="/page{{count}}">{{count}}</a></li>
			{% endif %}

			{% endfor %}

			{% if paginator.next_page %}
			<li><a href="/page{{paginator.next_page}}">Next</a></li>
			{% else %}
			<li class="disabled"><span>Next</span></li>
			{% endif %}
		</ul>
	</div>
</div>

<div class="section resources">
	<h2>资源推荐</h2>
	<ul class="nlist">		
		<li class="pitem"><a href="https://speakerdeck.com/jonrohan/githubs-css-performance" target="_blank"><h4>GitHub's CSS Performance</h4><img src="/content/20121213/s1.png" alt="" /></a></li>
		<li class="pitem"><a href="https://speakerdeck.com/ddemaree/designing-the-hi-dpi-web" target="_blank"><h4>Designing the Hi-DPI Web</h4><img src="/content/20121213/s2.png" alt="" /></a></li>
	</ul>
</div>
