---
layout: home
title: 哐嗤.哐嗤..哐嗤...HTML.CSS..Javascript...前端开发您你大胆走起！
---
{% include JB/setup %}
<div class="section fenews">
	{% for category in site.categories %} 
	{% if category[0] contains '前端参考消息' %}
	<h2>前端参考消息<span class="htime">{{ category[1][0].date | date_to_string }}</span></h2>
	  {{ category[1][0].content }}
	{% endif %}
	{% endfor %}
</div>


<div class="section posts">
	<h2>最近发布</h2>
	<ul class="nlist">
		{% for post in paginator.posts %}
			<li><a href="{{ BASE_PATH }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
	<!-- Pagination links -->
	<div id="post-pagination" class="pagination">
		<ul class="pages">
			{% if paginator.previous_page %}
			<li>
				{% if paginator.previous_page == 1 %}
				<a href="/">Prev</a>
				{% else %}
				<a href="/page{{paginator.previous_page}}">Prev</a>
				{% endif %}
			</li>
			{% else %}
			<li class="disabled"><a href="#">Prev</a></li>
			{% endif %}


			{% if paginator.page == 1 %}
			<li class="active"><a href="/page1">1</a></li>
			{% else %}
			<li><a href="/page1">1</a></li>
			{% endif %}

			{% for count in (2..paginator.total_pages) %}

			{% if count == paginator.page %}
			<li class="active">
				<span class="current-page">{{count}}</span>
			</li>
			{% else %}
			<li><a href="/page{{count}}">{{count}}</a></li>
			{% endif %}

			{% endfor %}

			{% if paginator.next_page %}
			<li><a href="/page{{paginator.next_page}}">Next</a></li>
			{% else %}
			<li class="disabled"><span>Next</span></li>
			{% endif %}
		</ul>
	</div>
</div>

<div class="section resources">
	{% for category in site.categories %} 
	{% if category[0] contains '资源推荐' %}
	<h2>资源推荐<span class="htime">{{ category[1][0].date | date_to_string }}</span></h2>
	  {{ category[1][0].content }}
	{% endif %}
	{% endfor %}
</div>
